/* Selector de Variables */

/* Selector General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selectores - Etiquetas Semánticas */
body {
    background-color: #FDFDFD;
    color: #262626;
    padding: 32px;
}

nav a {
    text-decoration: none;
    color: #262626;
}

nav ul {
    list-style-type: none;
}

header {
    background-color: #F9F6F3;
}

/* Selectores - Etiquetas Inline */
li,
p,
a {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Selectores - Clases */
.foto-perfil,
.ilustracion {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.ilustracion {
    width: 20%;
}

.boton-accion {
    display: inline-block; /* Esto se explica en otra clase */
    text-decoration: none;
    background-color: #63A2FF;
    color: #F9F5E5;

    padding: 12px 8px;
}

.boton-trabajo {
    display: inline-block; /* Esto se explica en otra clase */
    text-decoration: none;
    background-color: #5e9852;
    color: #F9F5E5;

    padding: 12px 8px;
}

.contenedor-grid img {
    width: 100%;
    height: auto;
    
    object-fit: cover;
    max-height: 200px;
    max-width: 300px;

}

.bio {
    background-color: #f3f8f2;
    margin: 16px 0;
}

.galeria {
    background-color: #e5f0ff;
    margin: 16px 0;
}

/* Pseudo Clases */

.boton-accion:hover {
    background-color: #2e82ff;
}

.boton-trabajo:hover {
    background-color: #32a952;
}

.contenedor-grid img:hover {
    opacity: 0.8;
}

nav ul li:first-child {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
}

ul li a:hover {
    color: yellow;
}